<!DOCTYPE html>
<html>
  <head>
    <title>My Class App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <h1>RCB My Class App</h1>
    {{{ body }}}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src="/scripts/elements.js"></script>
  </body>
</html>
