  <h3>Welcome Instructor</h3>

  {{#each instructors}}
    <div>
      <h2>{{firstname}} {{lastname}}</h2>
      <ul>
        {{#each students}}
          <li>{{firstname}} {{lastname}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
  <!-- show instructors -->
  <!-- show their students -->
