<h3>Please Login</h3>
<div class="row">
  <form class="col s12" method="POST" action="/login">
    <div class="row">
      <div class="input-field col s12 col m6">
        <input name="username" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 col m6">
        <input name="password" id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="input-field col s4">
      <select name="status">
        <option value="" disabled selected>Status</option>
        <option name="farmer" value="farmer">Farmers</option>
        <option name="purchaser" value="purchaser">Purchaser</option>
      </select>
      <label>Status</label>
    </div>
    <button class="btn waves-effect waves-light red darken-4">Log In</button>
  </form>
</div>
