  <h3>Welcome Purchaser</h3>

  {{#each purchasers}}
    <div>
      <h2>Profile of: {{firstname}} {{lastname}}</h2>
      <ul>
        {{#each producers}}
          <li>{{firstname}} {{lastname}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
  <!-- show purchasers -->
  <!-- show their producers -->


<!-- Log out button -->
  <div class="row">
    <form class="col s12" method="GET" action="/login">
      <h3>Already registered?</h3>
      <button class="btn waves-effect waves-light red darken-4">Logout</button>
    </form>
  </div>
