  <h3>Welcome Purchaser</h3>

  {{#each purchasers}}
    <div>
      <h2>{{firstname}} {{lastname}}</h2>
      <ul>
        {{#each producers}}
          <li>{{firstname}} {{lastname}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
  <!-- show purchasers -->
  <!-- show their producers -->
