.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.valign-wrapper .valign {
  display: block;
}

.search-itineraries{
  margin-top: 120px;
  margin-bottom: 15px;
}

.add-itin-dash-link{
  margin-top: 0px;
  margin-bottom: 5px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  border-bottom: 2px solid #5cb85c;
 }
.itinerariesTitle {
  color: white;
  background-color: #337AB7;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
}

.searchItinerary {
  color: white;
  background-color: #337AB7;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
  margin-top: 20px;
}

.searchItinBtn {
  margin-left: 0px;
  margin-top: 0px;
  width: 20%;
}

.itinerary {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom: 5px;
  margin-top: 0px;
  padding: 10px;
  background-color: white;
}

.itinBorder {
  margin-top: 3px;
}

.itineraryName {
  color: #337AB7;
 /* text-align: center;*/
  font-family: 'Oswald', sans-serif;
}

.itineraryLocation {
/*  text-align: center;*/
  margin-top: 0px;
  margin-bottom: 0px;
}

.interestsItin {
  text-align: center;
}

.userName {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
  color: #337AB7;
  font-family: 'Oswald', sans-serif;
}

.itineraryLists {
  margin-top: 0px;
  height: 66vh;
  overflow: scroll;
}

#itinerarySuggestions {
  border-style: solid;
  border-color: black;
}

.suggestionsAccordion {
  margin-bottom: 0px;
}

.mapBorder {
  padding-left: 0px;
  padding-right: 0px;
}

.panel-group {
    margin-bottom: 0px;
}

.itinerariesMap {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.loginDivder {
  margin-bottom: 0px;
}

.searchItinerary {
  text-align: center;
  color: white;
  background-color: #337AB7;
}

.itinHead {
  cursor: pointer;
}



.formPadding {
  padding-left: 4px;
}


.searchMargin {
  margin-top: 4px;
  margin-left: 0px;
  margin-bottom: 4px;
  width: 70%;
  margin-right: 0px;
}

.searchSection {
  width: 100%;
}

.itin-heading:hover {
  background-color: #215582;
}

.add-new-itin{
  color: #fff;
  display: inline-block;
  padding-top: 10px;
  padding-right: 5px;
}


.allItinerariesBox {
   margin-top:5px;
   margin-bottom: 5px;
   margin-right: 5px;
   padding-top: 0px;
}

.userImage {
  width: 100px;
  height: 100px;
}

.prodash-link{
  margin-top: 120px;
}

.all-itinerary-username{
  font-size: 14px;
  margin-bottom: 0px;
 }

.description-col{
  padding-left: 0;
}

.all-itin-profile-img{
  margin-right: 10px
}

.itin-head-location{
  border-bottom: 1px solid #c9c9c9;
  margin-left: 15px;
  padding-bottom: 5px;
}

.all-itin-description-text{
  padding-top: 5px;
}
