.interest-col{
  padding-left:5px;
  padding-right:5px;
}

.interest-name{
  display: inline-block;
  /*float: left;*/
  padding-right: 10px;
  color: #fff;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 18px;
  text-align: center;
}

.showItinerary-panel-body{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.show-itinerary-interest{
  margin-bottom: 15px;
  border: none;
  color: #337AB7;
  font-size: 15px;
}

.map-col{
  padding-right: 0px;
  padding-left: 0px;
}

.comment-box{
  border: 1px solid #c9c9c9;
  border-bottom-right-radius: 4px;
  margin-bottom: 15px;
  margin-top: 15px
}

.comment-heading{
  color: #fff;
  background-color: #337AB7;
  padding: 3px 15px 3px 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 1px;
}
.comment-location{
  background-color: #fff;
  padding: 10px;
  line-height: 1;
  border-bottom-right-radius: 4px;
}

.comment-text{
  background-color: #fff;
  color: #337AB7;
  min-height: 100px;
  padding: 10px;
  margin: 14px;
  border-right: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}

.itin-handle{
  color:#c9c9c9;
}

.itin-button-container{
  padding-top: 5px;
  padding-bottom: 5px;
}

.itin-button-container>a{
  color: #fff;
  line-height: .5;
}

.website, .street-address, .comment-location{
  padding-right:15px;
}

.show-itin-hr{
  margin-bottom: 10px;
  padding: 5px;
}

.comment-footer{
  background-color: #286090;
  color: #fff;
  border-bottom-right-radius: 4px;
}

.comments-column{
  margin-top: 0px;
  height: 66vh;
  overflow: scroll;
}
.add-itinerary-form{
margin-top: 15px;
}

.add-comment-panel{
  margin-top: 15px;
}

.share-btn{
  width: 100%;
}

.add-comment-row{
    background:
    -webkit-linear-gradient(rgba(33, 85, 130, 0.5), rgba(33, 85, 130, 0.5)),
   url("../images/california_dash.png"),
    background:
    -o-linear-gradient(rgba(33, 85, 130, 0.5), rgba(33, 85, 130, 0.5)),
   url("../images/california_dash.png");
    background:
    linear-gradient(rgba(33, 85, 130, 0.5), rgba(33, 85, 130, 0.5)),
   url("../images/california_dash.png");
   min-height: 170px;
   background-repeat: no-repeat;
   background-size: cover;

}

.itinerary-description{
  padding-top: 15px;
  color: #fff;
}

.users-interest-lead{
  display: inline-block;
  float: left;
  padding-top: 5px;
  padding-right: 5px;
}

.interest-row{
  background-color: #337ab7;
}

a.username-link{
  color: #fff;
  text-decoration: none;
}

a.username-link:hover{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.comment-date{
  margin-top: 5px;
}
.delete-comment{
  padding-left: 10px;
  padding-right: 15px;
}

.single-itinerary-form-panel{
  border-right: none;
}

.single-itin-interest-name{
  display: inline-block;
  line-height: 19.8px;
}

.interest-name-head{
  padding-top: 10px;
  padding-bottom: 10px;
}
