<!-- Modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">The Trip Chats Team</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <br />

            <!-- Jeremy Miragliotta -->
            <a href="http://www.jmigsdesign.com/" target="_blank">
              <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/jeremy.jpg">
            </a>
            <h5><a class="names-in-contact-modal" href="http://www.jmigsdesign.com/" target="_blank">Jeremy<br />
            Miragliotta</a></h5>
            <a href="https://www.linkedin.com/in/jeremymiragliotta" target="_blank"><i class="fa fa-linkedin-square fa-2x profile-icons"></i></a>
            <a href="https://github.com/jdmiragliotta" target="_blank"><i class="fa fa-github fa-2x profile-icons"></i></a>
            <a href="https://twitter.com/jmigsdesign" target="_blank"><i class="fa fa-twitter fa-2x profile-icons"></i></a>
            <a href="http://www.jmigsdesign.com/" target="_blank"><i class="fa fa-user fa-2x profile-icons"></i></a>
            <br />
            <br />
            <!-- Dan Petro -->
            <br />
            <br />
            <a href="https://danpetro.herokuapp.com" target="_blank">
              <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/dan.png">
            </a> 
            <h5><a class="names-in-contact-modal" href="https://danpetro.herokuapp.com" target="_blank">Dan<br />
            Petro</a></h5> 
            <a href="https://www.linkedin.com/in/danpetro7" target="_blank"><i class="fa fa-linkedin-square fa-2x profile-icons"></i></a>
            <a href="https://github.com/dpetro07" target="_blank"><i class="fa fa-github fa-2x profile-icons"></i></a>
            <!-- <a href="https://twitter.com/paulducsantos" target="_blank"><i class="fa fa-twitter fa-2x profile-icons"></i></a> -->
            <a href="https://danpetro.herokuapp.com" target="_blank"><i class="fa fa-user fa-2x profile-icons"></i></a>

          </div> <!-- col-md-6 -->
          <div class="col-md-6 text-center">
            <div class="hide-on-large-only">
              <br />
            </div>
            <br />
            
            <!-- Paul Santos -->
            <a href="https://paulsantos.herokuapp.com/" target="_blank">
              <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/paul.jpg">
            </a> 
            <h5><a class="names-in-contact-modal" href="https://paulsantos.herokuapp.com/" target="_blank">Paul<br />
            Santos</a></h5> 
            <a href="https://www.linkedin.com/in/paulmichaelsantos" target="_blank"><i class="fa fa-linkedin-square fa-2x profile-icons"></i></a>
            <a href="https://github.com/paulducsantos" target="_blank"><i class="fa fa-github fa-2x profile-icons"></i></a>
            <a href="https://twitter.com/paulducsantos" target="_blank"><i class="fa fa-twitter fa-2x profile-icons"></i></a>
            <a href="https://paulsantos.herokuapp.com/" target="_blank"><i class="fa fa-user fa-2x profile-icons"></i></a>
            <br />
            <br />
            <!-- Darryl Mendonez -->
            <br />
            <br />
            <a href="https://darrylmendonez.herokuapp.com/" target="_blank">
              <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/darryl.jpg">
            </a>
            <h5><a class="names-in-contact-modal" href="https://darrylmendonez.herokuapp.com/" target="_blank">Darryl<br />
            Mendonez</a></h5>
            <a href="https://www.linkedin.com/in/darrylmendonez" target="_blank"><i class="fa fa-linkedin-square fa-2x profile-icons"></i></a>
            <a href="https://github.com/MrMendonez" target="_blank"><i class="fa fa-github fa-2x profile-icons"></i></a>
            <a href="https://twitter.com/MrMendonez" target="_blank"><i class="fa fa-twitter fa-2x profile-icons"></i></a>
            <a href="https://darrylmendonez.herokuapp.com/" target="_blank"><i class="fa fa-user fa-2x profile-icons"></i></a>

          </div> <!-- end col -->
        </div> <!-- end row -->

      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>