<body>
    <br>
    <!-- <div ng-if="User.type == 'producer'"> -->
    <main  ng-init="init()">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <center>
                        <div class="card white z-depth-1">
                            <div class="card-content black-text">
                                <br>
                                <div class="center">
                                    <p>
                                        <img class="main-profile-img" src="http://www.gravatar.com/avatar/{{ userData.email | gravatar }}?s=200&d=mm" width="150px">
                                    </p>
                                    <p>{{ user.fname }} of {{ user.company }}</p>
                                    <p class="white-text darken-5">(@{{ user.username }})</p>
                                </div>
                                <p>
                                    <a href="/{{ user.username }}" type="button" class="btn pull-right">View Self</a>
                                </p>
                            </div>
                        </div>
                    </center>
                </div>
                <!-- left section -->
                <div class="col s12 m4">
                    <div class = "center">
                        <div class="card  white lighten-5">
                            <div class="card-content black-text center">
                                <form class="row container center" name="itemForm">
                                    <div class="add-itin-form">
                                        <br>
                                        <div class="center ">
                                            <input ng-model="item.title" name="title" type="text" class=" validate" placeholder="Item Name">
                                        </div>
                                        <br>
                                        <div class="center ">
                                            <input ng-model="item.city" name="availability" type="text" class=" validate" placeholder="Amount">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="center">
                                            <a class="waves-effect waves-light btn center" ng-click="addItem()" type="submit" ng-submit="addItem()">Add Item</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card white lighten-5 hide-on-small-only">
                        <div class="card-content black-text">
                            <h5 class="thin card-title">
                                You have </i> <span ng-show="userItems.length">{{userItems.length}}</span>
                                <ng-pluralize ng-show="userItems.length" count="userItems.length"
                                    when="{
                                    '1': 'item',
                                    'other': 'items'
                                    }">
                                </ng-pluralize>
                                <span ng-show="!userItems.length">0 items</span>
                            </h5>
                            <div class="collection z-depth-1">
                                <div ng-repeat="item in userItems | orderBy:'-createdAt'">
                                    <a href="/items/{{item.id}}" target="_blank" class="collection-item black-text" ng-hide="deleted">
                                        {{item.title}}
                                        <p class="grey-text">{{item.availability}} Available</p>
                                    </a>
                                </div>
                            </div>
                            <div class="center">
                                <a class="waves-effect waves-light btn center" ng-click="/invoices" ng-submit="invoices">View All</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col s12 m8">
                    <div class="card white lighten-5">
                        <div class="card-content black-text">
                          <h5 class="thin card-title">
                              You have </i> <span ng-show="userItems.length">{{userItems.length}}</span>
                              <ng-pluralize ng-show="userItems.length" count="userItems.length"
                                  when="{
                                  '1': 'item',
                                  'other': 'items'
                                  }">
                              </ng-pluralize>
                              <span ng-show="!userItems.length">0 items</span>
                          </h5>
                          <div class="collection z-depth-1">
                              <div ng-repeat="item in userItems | orderBy:'-createdAt'">
                                  <a href="/items/{{item.id}}" target="_blank" class="collection-item black-text" ng-hide="deleted">
                                      {{order.title}}
                                      <p class="grey-text">{{order.userID}} Available</p>
                                  </a>
                              </div>
                          </div>
                          <div class="center">
                              <a class="waves-effect waves-light btn center" ng-click="/invoices" ng-submit="invoices">View All</a>
                          </div>

                    </div>
                    <div class="card white">
                        <div class="card-content black-text">
                            <span class="card-title black-text">Invoices</span>
                            <div class="collection z-depth-1">
                                <a href="http://redhotchilipeppers.com" target="_blank" class="collection-item black-text">
                                    Favourite Band
                                    <p class="grey-text">Red Hot Chili Peppers</p>
                                </a>
                                <a href="http://redwings.nhl.com" target="_blank" class="collection-item black-text">
                                    Favourite Hockey Team
                                    <p class="grey-text">Detroit Red Wings</p>
                                </a>
                                <a href="http://www.barneysvideoresume.com/" target="_blank" class="collection-item black-text">
                                    Favourite TV Show
                                    <p class="grey-text">How I Met Your Mother</p>
                                </a>
                            </div>
                            <div class="center">
                                <a class="waves-effect waves-light btn center" ng-click="/invoices" ng-submit="invoices">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--</div> -->
    pooo
    <div class="container">
        <!-- Producer -->
        <!-- postitem -->
        <div class=" header-background" ng-init="init()">
            <h3 class="dash-header">Producer Dashboard</h3>
        </div>
        <div class="">
            <div class="row add-comment-row">
                <div class="col s8">
                    <div class="card white">
                        <div class="card-content ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4 class="dash-main-header">Going somewhere? Share a new item!</h4>
                    <p class="dash-main-para">Share your interests with fellow mvpAppters and see where their suggestions take you!</p>
                </div>
            </div>
            <div class="row interest-row">
                <div class="col-sm-12">
                    <h5 class="thin">
                        You have </i> <span ng-show="userItems.length">{{userItems.length}}</span>
                        <ng-pluralize ng-show="userItems.length" count="userItems.length"
                            when="{
                            '1': 'item',
                            'other': 'items'
                            }">
                        </ng-pluralize>
                        <span ng-show="!userItems.length">0 items</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <!--- ---->
    <!--- profile -->
    <div class="">
        <div class="row interest-row">
            <div class="col s12">
                <!-- Number of Items -->
                <h4 class="item-number">
                    <!-- If user has items -->
                    Hey {{ user.fname }}! You have shared
                    <!-- <i class="fa fa-list-ul" aria-hidden="true"></i> --> <span ng-show="userItems.length">{{userItems.length}}</span>
                    <ng-pluralize ng-show="userItems.length" count="userItems.length"
                        when="{
                        '1': 'item',
                        'other': 'items'
                        }">
                    </ng-pluralize>
                    <!-- If user has no items -->
                    <span ng-show="!userItems.length">0 items</span>
                    and made
                    <!-- Number of Comments -->
                    <!-- If use has comments -->
                    <!-- <i class="fa fa-commenting" aria-hidden="true"></i> --> <span ng-show="numberOfComments"> {{ numberOfComments }}</span>
                    <ng-pluralize count="numberOfComments"
                        when="{
                        '1': 'comment',
                        'other': 'comments'
                        }">
                    </ng-pluralize>
                    <span ng-show="!numberOfComments">0 comments</span> <!-- If user has no comments -->
                </h4>
            </div>
        </div>
        <div class="row">
            <!-- Items Column -->
            <div class="col s12 col m6 l6">
                <div class="panel add-panel itin-panel" ng-repeat="item in userItems | orderBy:'-createdAt'">
                    <div class="panel-heading itin-heading clearfix">
                        <h3 class="dash-item-heading clearfix"><a href="/items/{{item.id}}" class="profile-item-link">{{item.title}}</a></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div ng-hide="deleted">
                                <div small-map city="item.city" class="dash-map"></div>
                            </div>
                            <div ng-hide="deleted">
                                <div class="description description-profile">
                                    <p class="description-text">{{item.description}}</p>
                                </div>
                                <h5>Interests:</h5>
                                <div ng-repeat="activity in item.Activities">
                                    <div class="col s4">
                                        <div class="interest text-center">
                                            <span class="">{{activity.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <div class="item-footer clearfix">
                        <div class="button-container pull-right">
                            <a ui-sref="showItem({id: item.id})" class="btn">Full Item</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <!-- Comments Column -->
            <div class="col s12 col m4">
                <div class="panel">
                    <div class="dash-latest-items dash-latest-items-mobile clearfix " ng-repeat="comment in userComments | orderBy:'-createdAt' | limitTo: 5">
                        <div class="panel-body-latest-itin ">
                            <div class="dash-latest-itin-heading">
                                <span class="" ng-click="">
                                <h5 class="inline">{{comment.User.username}} commented on <a href="/items/{{comment.ItemId}}">{{comment.Item.title}}</a></h5>
                                <span class="date pull-right hide-on-small-only">{{comment.Item.createdAt | date: "mediumDate"}}</span>
                            </div>
                            <div class="latest-item-body clearfix">
                                <p class="recent-comment-text">{{comment.text}}</p>
                            </div>
                            <div class="dash-latest-itin-share-group clearfix">
                                <div class="date date-mobile hide-on-med-and-up pull-left">{{comment.Item.createdAt | date: "mediumDate"}}</div>
                                <a href="/items/{{comment.ItemId}}" type="button" class="btn pull-right">View </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
    <!--- items -->
    <div class="">
        <div class="row">
            <div class="col s8">
                <div class="panel add-panel itin-panel" ng-repeat="item in userItems | orderBy:'-createdAt'">
                    <div class="panel-heading itin-heading clearfix">
                        <div class="dash-heading-container clearfix">
                            <div class="col s6">
                                <a ui-sref="showItem({id: item.id})" class="text-dec-none">
                                    <h3 class="dash-item-heading clearfix">{{item.title}}</h3>
                                </a>
                            </div>
                            <div class="col s6">
                                <h3 class="dash-item-heading pull-right hide-on-small-only"> {{item.city}}, {{item.state}} {{item.country}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="editable-inputs" ng-show="editOptions">
                            <div class="row">
                                <div class="col s12">
                                    <input type="text" ng-model="item.title" class=" editable-input-fields">
                                </div>
                                <div class="col s12">
                                    <input type="text" ng-model="item.description" class=" editable-input-fields">
                                </div>
                                <div class="col s4">
                                    <input type="text" ng-model="item.city" class=" editable-input-fields">
                                </div>
                                <div class="col s4">
                                    <input type="text" ng-model="item.state" class=" editable-input-fields">
                                </div>
                                <div class="col s4">
                                    <input type="text" ng-model="item.country" class=" editable-input-fields">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4">
                                <div small-map city="item.city" class="dash-map"></div>
                            </div>
                            <div class="col s8">
                                <div class="row">
                                    <div class="description" ng-hide="editOptions">
                                        <p class="description-text">{{item.description}}</p>
                                    </div>
                                    <form>
                                        <div class="form-group">
                                            <p class="activity-question" ng-hide="editOptions">What are you interested in?</p>
                                            <div class="form-inline input-group add-interest-form" ng-hide="editOptions">
                                                <input placeholder="e.g. Museums" ng-model="item.newActivity.name" type="text" class="validate ">
                                                <div class="input-group-btn">
                                                    btn-success" ng-submit="addActivity(item.id, item.newActivity)" ng-click="addActivity(item.id, item.newActivity)">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div ng-repeat="activity in item.Activities">
                                        <div class="col-md-4" ng-hide="deleted">
                                            <div class="interest text-center">
                                                <span>{{activity.name}}</span>
                                            </div>
                                            <button class="interest-delete" ng-show="editOptions" ng-click="deleteActivity(activity.id); deleted=true" class="delete-activity">&times;</button>
                                        </div>
                                        <!-- end col s4 -->
                                    </div>
                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end col s9 -->
                        </div>
                        <!-- end row -->
                    </div>
                    <div class="item-footer clearfix">
                        <div class="button-container pull-right">
                            <a ui-sref="showItem({id: item.id})" class="btn">View</a>
                            <a ng-click="editItem(item); editOptions=false" ng-show="editOptions" class="btn">Done</a>
                            <a ng-click="showEditableItem(item.id); editOptions=true" ng-hide="editOptions" class="btn">Edit</a>
                            <a data-toggle="modal" data-target=".delete-confirmation" class="btn">Delete Item</a>
                            <!-- Delete Confirmation Modal -->
                            <aside>
                                <div ng-controller="AppCtrl">
                                    <div class="modal fade delete-confirmation dismiss" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="row">
                                                    <div class="col s12">
                                                        <h1 class="loginSignup">Delete?</h1>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col s10 offset-s1">
                                                        <p>
                                                            Are you sure you want to delete this item?<br /> This cannot be undone.
                                                        </p>
                                                        <button class="loginSubmitBtn btn btn-danger" ng-click="deleteItem(item.id)" type="submit" data-dismiss="modal">Delete</button>
                                                        <button id="cancel-delete-modal" type="button" class="loginSubmitBtn btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <br />
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
                <!-- End Itineray-panel -->
            </div>
            <!-- END col s8 -->
            <div class="col s12 l6">
                <h3 class="thin">Latest Items</h3>
                <div class="container section col s12 ">
                    <br>
                    <div class="row">
                        <!-- ngrepeat 3 times -->
                        <div class="dash-latest-items clearfix" ng-repeat="item in allItems | orderBy:'-createdAt' | limitTo: 3">
                            <div class="card hoverable z-depth-1">
                                <div class="card-content center black-text">
                                    <span class="grey white-text badge">{{item.city}}, {{item.state}}, {{item.country}}</span><br>
                                    <br>
                                    <span class="" ng-click="">
                                        <h4 class=" thin">
                                        {{item.title}}</h5>
                                    </span>
                                    Posted by: <a ui-sref="user({username: item.User.username})" class="handle">  @{{item.User.username}}</a> <span class="date pull-right">{{item.createdAt | date: "mediumDate"}}</span>
                                    </br>
                                    <br></p>
                                    Description: {{item.description}} - {{item.User.fname}}
                                    <a ui-sref="showItem({id: item.id})" "waves-effect waves-light black black-text btn" class="btn waves-effect waves-light"><i class="material-icons left">send</i>View</a>
                                </div>
                            </div>
                        </div>
                        <!-- END ROW -->
                        <!--<a class="waves-effect waves-light black btn" href="search.html">See All</a>-->
                        <a class="waves-effect waves-light black btn" href="/items">See All</a>
                    </div>
                    <!-- END CARDD -->
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
    <!-- end container -->
