<div class=" header-background" ng-init="init()">
  <h3 class="text-center">All Items</h3>
</div>

<div class="">
  <div class="row add-comment-row">
    <div class="col-sm-5">
      <div class="form-inline input-group search-items">
        <input type="text" ng-model="search.city" ng-change="filterGeo(); numItins()" ng-model-options=" { debounce: 500 } " class="form-control" placeholder="Search a specific location">
        <div class="input-group-btn">
          <button ng-click="filterGeo()" class="btn btn-success">Search</button>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-sm-offset-2">
      <div class="prodash-link pull-right">
        <p class="add-new-itin">Going somewhere? Create Your Own Item! </p>
        <a type="button" ng-show="user" href="/dashboard" class="btn btn-success add-itin-dash-link">Add Item</a>
        <a type="button" ng-show="!user" class="btn btn-success add-itin-dash-link" disabled="disabled" data-toggle="tooltip" data-placement="top" title="Log in to share">Add Item</a>
      </div>
    </div>
  </div>
  <div class="row interest-row">
    <div class='col s12'>

      <!-- When there are 1 or more items -->
      <h4 class="item-number" ng-show="result.length">There <ng-pluralize count="result.length"
          when="{
            '1': 'is',
            'other': 'are'
          }">
        </ng-pluralize> <span ng-show="result.length">{{result.length}}</span>
        <ng-pluralize ng-show="result.length" count="result.length"
          when="{
            '1': 'item',
            'other': 'items'
          }">
        </ng-pluralize></h4>

        <!-- When there are no items -->
        <h4 class="item-number" ng-show="!result.length">There are no items.</h4>
    </div>
  </div>
</div>

<div class="">
  <div class="row">

    <div class="itemLists col-sm-4 ">
      <div ng-show="!(allItems | filter:search:strict).length">
        <div class="clearfix">
          <br />
          <h4>No items for this location.</h4>
          <h4>Be the first to post an item here!</h4>
        </div>
      </div>

      <div class="panel add-panel itin-panel" ng-repeat="item in allItems | orderBy:'-createdAt' | filter:search:strict as result">

        <div class="panel-heading itin-heading clearfix" ng-mouseenter="hoverGeo(item.city)">
          <div class="dash-heading-container clearfix" >
            <div class="col s12">
              <h3 class="dash-item-heading clearfix itinHead" ui-sref="showItem({id: item.id})">{{item.title}}</h3>
            <!-- </div>
            <div class="col s6"> -->
            </div>
          </div>
        </div>

        <div class="panel-body showItem-panel-body allItemsBox">
         <div class="itin-head-location clearfix">
                <h5 class="dash-item-heading pull-right"> {{item.city}}, {{item.state}} {{item.country}}</h5>
              </div>
          <div class="itemInfo">

              <div class="col s12">
                <a ui-sref="user({username: item.User.username})" class="all-itin-profile-img pull-left">
                  <img class="userImage" src="http://www.gravatar.com/avatar/{{ item.User.email | gravatar }}?s=100&d=mm">
                </a>
              <!-- </div>
              <div class="col-sm-8 description-col"> -->
                <div class="all-itin-description-text">
                  <p class="all-item-username clearfix itinHead"><a ui-sref="user({username: item.User.username})">
                    <span>{{ item.User.username }} :</span>
                    </a>{{item.description}}
                  </p>
                </div>
              </div>

          </div>
          <div class="form-group clearfix" ng-show="showCommentBox">
            <form>
              <div class="col s12 interest-col">
                <input type="text" class="form-control mdLgFields formPadding inputField" id="comment" ng-model="comment.text" placeholder="Add a comment for {{item.User.username}} to visit.">


              </div>
              <div class="col s6 interest-col">
                <input ng-model="comment.address" class="form-control col s6 latest-address-input" type="text"  placeholder="Street Address"/>
              </div>
              <div class="col s6 interest-col">
                <input ng-model="comment.link" class="form-control col s6 latest-address-input"  type="text"  placeholder="Website"/>
              </div>
            </form>
          </div>
        </div>

        <div class="item-footer">
          <div class="row">

            <div class="col s12">
              <div class="button-container pull-right">
                <a type="button" class="btn" ui-sref="showItem({id: item.id})">View Item</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

     <div class="col-sm-8 mapBorder hide-on-small-only">
      <div id="map">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
          <ui-gmap-markers models="map.markers" coords="'coords'" idKey="id" click="onClick" doCluster="true" options="'options'">
              <ui-gmap-windows show="show">
              <div ng-non-bindable>
                {{title}}
                <br /> Located at: {{address}}
                <br /><a class="website" ng-show="link" href="http:// {{ link }}" target="_blank">Visit Suggested Site</a>
              </div>
            </ui-gmap-windows>
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>

    <div>
      <ui-view></ui-view>
    </div>

  </div>
</div>
