<div ng-controller="AppCtrl">
<div class = "contrainer">
  <div class=" card  z-depth-1 col s12 m6 l6 offset-s3 ">
      <div class="card-content center black-text">
        <form class="form-horizontal formLogin">
          <h3 class="loginSignup">Login</h3>

          <div class="form-group">
            <div class="col m6 l6 inputField">
                <h7 class="dash-item-heading fields">Username</h7>
              <input type="text" class="form-control validate mdLgFields formPadding" id="username" name="username" ng-model="username">
            </div>

            <div class="col m6 l6 ">
              <h7 class="dash-item-heading fields">Password</h7>
              <input type="password" class="form-control mdLgFields formPadding inputField" id="password" ng-model="password">
              <uib-alert ng-repeat="alert in alerts" type="danger" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            </div>

            <div class="col s 10 col s offset-1">
              <button class="loginSubmitBtn btn btn-success" ng-click="login()" type="submit">Log in</button>
              <div class="text-center already">

                <span class="grey-text">New to Trip Chats?</span>
                <a href="/signup">Sign up</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5 col s 5">
              <hr class="loginDivder">
            </div>
            <div class="col-sm-2 col s 2">
              <h6 class="or">or</h6>
            </div>
            <div class="col-sm-5 col s 5">
              <hr class="loginDivder">
            </div>
          </div>

          <div class="row">
            <div class="guestLogin">
              <h7 class="quickLogin">Quick Log in</h7>
              <br>
              <h7>Username: <strong>username</strong></h7>
              <br>
              <h7>Password: <strong>password</strong></h7>
            </div>
          </div>
          <br/>
        </form>
      </div>
    </div>
</div>
</div>
