
<div class="navbar-fixed z-depth-5">
  <nav class="black">



    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>



    <div class="nav-wrapper container">
      <!-- DROPDOWN1 -->
      <ul class="dropdown-content" id="dropdown1" style=
      "background-image: url('frontendimg/bgautumndark.jpg');">
        <li>
          <a class="white-text" href="editprofile.html">Edit Profile</a>
        </li>
        <li>
          <a class="white-text" href="profile.html">View Profile</a>
        </li><!-- <li class="divider"  class="white-text"></li> -->
        <li>
          <a class="white-text" href="#!">Pending Collabs</a>
        </li>
      </ul>
      <ul class="dropdown-content" id="dropdown2" style=
      "background-image: url('frontendimg/bgautumndark.jpg');">
        <li>
          <a class="white-text" href="feedback.html">Feedback</a>
        </li>
        <li>
          <a class="white-text" href="profile.html">Buy Merch</a>
        </li><!-- <li class="divider"  class="white-text"></li> -->
        <li>
          <a class="white-text" href="#!">Logout</a>
        </li>
      </ul>





      <ul class="left hide-on-med-and-down"  style="margin-right: 20em">

        <li>
          <a class="brand-logo" href="#!"><img alt=Raptroop width= "35%"  height="35%"
           draggable="false" src="frontendimg/rlogosmall.png" style= "-moz-user-select: none;">
          </a>
          <a class="button-collapse" data-activates="mobile-demo" href="#">
            <i class="mdi-navigation-menu"></i>
          </a>
        </li>



        <li>
          <a class="" href="#">

            &nbsp; &nbsp;  &nbsp;
          </a>


        </li>


        <!--- search bar -->
        <li>

          <form>
            <div class="input-field" >
              <input id="search" required="" type="search" size="20%" ><label for=
              "search"><i class="mdi-action-search"></i></label> <i class=
              "mdi-navigation-close"></i>
            </div>
          </form>


        </li><!--- end search bar -->

      </ul>




      <ul class="right hide-on-med-and-down">


        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-button waves-effect waves-light black white-text" href=
          "#!" style=
          "background-image: url('frontendimg/bgautumndark.jpg');" >Make Collab!</a>
        </li>

        <li>
          <a class="dropdown-button waves-effect waves-light" data-activates="dropdown1" href=
          "#!" >testuserrr<i class="material-icons right">arrow_drop_down</i></a>
        </li>


        <li>
          <a class="dropdown-button" data-activates="dropdown2" href=
          "#!"><i class="mdi-navigation-more-vert"></i></a>
        </li>
      </ul>
      <ul class="side-nav black white-text" id="mobile-demo">
        <br></br>
        <li>
          <a class="white-text " href="#">Make Collab!</a>
        </li>
        <li>
          <a class="white-text" href="#">Search Collabs</a>
        </li>
        <li>
          <a class="white-text" href="editprofile.html">Edit Profile</a>
        </li>
        <li>
          <a class="white-text" href="#">View Profile</a>
        </li>

        <li>
          <a class="white-text" href="#">Pending Collabs!</a>
        </li>

        <li>
          <a class="white-text" href="#">Feedback</a>
        </li>


        <li>
          <a  class="white-text" href="#">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div><!--END HEAD -->





<nav role="navigation" class="orange">
    <div class="nav-wrapper container ">

            <div ng-show="!user" class="dropdown pull-right">
              <!--<a id="logo-container" href="#" class="brand-logo left thin white-text">Google Killer</a>-->
                <!-- ABOUT -->
                <!-- Mobile Version -->
                <ul id="nav-mobile" class="side-nav">
                    <li><a ui-sref="about">About</a>
                    </li>
                </ul>

                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="/login"  data-target=".login">Login</a>
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="/signup"   data-target=".signup">Signup</a>



                                <!-- Desktop version -->
                                <ul class="right hide-on-med-and-down">
                                  <li class="thin"><a ui-sref="about">About</a>
                                  </li>
                                  <!-- <li class="thin large waves-effect waves-light"><a href="#" data-toggle="modal" data-target=".login">Login</a> -->
                                </ul>

            </div>

            <div ng-show="user" class="dropdown pull-right">


              <!-- searchbar -->
              <ul class="left hide-on-med-and-down">
                  <form>
                      <div class="input-field">
                          <input id="search" type="search" required>
                          <label for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons">close</i>
                      </div>
                  </form>
              </ul>

              <ul class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/{{ user.username }}">Profile</a></li>
                    <li><a href="/items">All Items</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="logout()">Log Out</a></li>
                </ul>

            </div>

        </div>



</nav>
