<nav role="navigation" class = "black">
            <div class="nav-wrapper container "><a id="logo-container" href="#" class="brand-logo center thin white-text">Google Killer</a>
        <div ng-show="isAuthenticated">
            <!-- ABOUT -->
                <!-- Desktop version -->
                <ul class="left hide-on-med-and-down">
                    <li class="thin"><a ui-sref="about">About</a>
                    </li>
                </ul>
                <!-- Mobile Version -->
                <ul id="nav-mobile" class="side-nav">
                    <li><a ui-sref="about">About</a>
                    </li>
                </ul>
        </div>
            <!-- searchbar -->
            <ul class="right hide-on-med-and-down">
            <form>
                <div class="input-field">
                <input id="search" type="search" required>
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                </div>
            </form>
            </ul>
            <!-- ABOUT -->
                <!-- Desktop version -->
                <ul class="left hide-on-med-and-down">
                    <li class="thin"><a ui-sref="about">About</a>
                    </li>
                </ul>
                <!-- Mobile Version -->
                <ul id="nav-mobile" class="side-nav">
                    <li><a ui-sref="about">About</a>
                    </li>
                </ul>
            <!-- minimenu -->
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
</nav>
