<script>
$('.dropdown-button').dropdown({
    inDuration: 300,
    outDuration: 225,
    constrain_width: false, // Does not change width of dropdown to that of the activator
    hover: true, // Activate on hover
    gutter: 0, // Spacing from edge
    belowOrigin: false, // Displays dropdown below the button
    alignment: 'left' // Displays dropdown with edge aligned to the left of button
  }
);

</script>

<nav role="navigation" class="orange">
    <div class="nav-wrapper container "><a id="logo-container" href="#" class="brand-logo center thin white-text">Google Killer</a>
        <div ng-show="isAuthenticated">



            <div ng-show="!user" class="dropdown pull-right">
                <!-- ABOUT -->
                <!-- Mobile Version -->
                <ul id="nav-mobile" class="side-nav">
                    <li><a ui-sref="about">About</a>
                    </li>
                </ul>

                <!-- Desktop version -->
                <ul class="right hide-on-med-and-down">
                    <li class="thin"><a ui-sref="about">About</a>
                    </li>

                    <!-- Dropdown Trigger -->
                    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                      <li><a href="#!">one</a></li>
                      <li><a href="#!">two</a></li>
                      <li class="divider"></li>
                      <li><a href="#!">three</a></li>
                    </ul>


                <li class="thin"><a class='dropdown-button btn' href='#' data-activates='dropdownVisitor'>Drop Me!</a>
                </li>


                <button class="dropdown-button btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="false" data-activates='dropdown1' aria-expanded="true">
                    Sign In
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenudropdownVisitor">
                    <li><a href="#" data-toggle="modal" data-target=".login">Login</a></li>
                    <li><a href="#" data-toggle="modal" data-target=".signup">Sign Up</a></li>
                </ul>

                </ul>

            </div>

            <div ng-show="user" class="dropdown pull-right">

              <!-- searchbar -->
              <ul class="right hide-on-med-and-down">
                  <form>
                      <div class="input-field">
                          <input id="search" type="search" required>
                          <label for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons">close</i>
                      </div>
                  </form>
              </ul>


              <!-- Dropdown Trigger -->
              <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>


                <button class="dropdown-button btne" data-activates='dropdown1' type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                    {{ user.username }}
                    <span class="caret"></span>
                </button>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="/">Home</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/{{ user.username }}">Profile</a></li>
                    <li><a href="/items">All Items</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="logout()">Log Out</a></li>
                </ul>

            </div>


        </div>

        <!-- ABOUT -->
        <!-- Desktop version -->
        <ul class="left hide-on-med-and-down">
            <li class="thin"><a ui-sref="about">About</a>
            </li>
        </ul>
        <!-- Mobile Version -->
        <ul id="nav-mobile" class="side-nav">
            <li><a ui-sref="about">About</a>
            </li>
        </ul>
        <!-- minimenu -->
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
