<div ng-controller="AppCtrl">

        <form>
          <h3 class="loginSignup">Sign-Up</h3>
          <div class="row">
            <div class="col s12">
              <div class="form-group signupMargin">
                <div class="col s3  offset s2">
                  <h7 class="dash-item-heading fields">First Name</h7>
                  <input type="text" class="form-control mdLgFields inputField" id="fname" placeholder="John" ng-model="fname">
                </div>
                <div class="col s3  offset s2">
                  <h7 class="dash-item-heading fields">Company Name</h7>
                  <input type="text" class="form-control mdLgFields inputField" id="company" placeholder="Doe" ng-model="company">
                </div>
                <div class="col s3  offset s2">
                  <h7 class="dash-item-heading fields">Email Address</h7>
                  <input type="email" class="form-control mdLgFields inputField" id="email" placeholder="example@example.com" ng-model="email">
                </div>

                <div class="col s3 offset s2">

                <p>
                  <input name="group1" type="radio" id="test1" ng-model="type" value="producer" />
                  <label for="test1">Producer</label>
                </p>
                <p>
                  <input name="group1" type="radio" id="test2" ng-model="type" value="purchaser" checked = "checked"/>
                  <label for="test2">Purchaser</label>
                </p>

                </div>

                <div class="col s6 offset s2">
                  <h7 class="dash-item-heading fields">Username</h7>
                  <input type="text" class="form-control mdLgFields inputField" id="username" placeholder="Username" ng-model="username">
                </div>
                <div class="col s6 offset s2">
                  <label for="password" class="dash-item-heading fields">Password</label>
                  <input type="password" class="form-control mdLgFields inputField" id="password" placeholder="Password" ng-model="password">
                </div>
                <div class="col s6 offset s3">
                  <button ng-click="signup()" type="submit" class="btn btn-success  thin large waves-effect waves-light signupBtn" data-dismiss="modal">Sign Up</button>
                  <div class="text-center already">
                  <span class="grey-text">Already a member?</span>
                  <a href ="/login">Log in</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
</div>
